<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Send+Flowers&display=swap" rel="stylesheet">

    <title>Plentish</title>
    <link rel="shortcut icon" href="/images/wheat.png" >
    <link rel="stylesheet" href="/stylesheets/layout.css">
    <script type='text/javascript' src='/javascripts/layout.js'></script>
  </head>
  <body>
    <header class='hidden'>
      <ul>
        <li>
          <div id='header-title'>
            <%# <img src='/images/lemon.png'> %>
            <h1>PLENTISH</h1>
          </div>
        </li>
        <li><a href='/my-shopping-list'><span>My Shopping List</span></a></li>
        <li><a href='/recipes'><span>Recipes</span></a></li>
        <li><a href='/archive'><span>Archive</span></a></li>
        <li><a href='/signout'><span>Sign Out</span></a></li>
      </ul>
    </header>
    <main>
    <div id='accent'></div>
    <img id='hamburger' src='/images/hamburger.png'>
    <div id='overlay' class='hidden'></div>
      <%== yield %>
    </main>
  </body>
</html>