<link rel="stylesheet" href="/stylesheets/my_shopping_list.css">
<script type='text/javascript' src='/javascripts/my_shopping_list.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>

<script type='text/x-handlebars' id='list-template'>
  {{#each items}}
    {{> item-template }}
  {{/each}}
</script>

<script type='text/x-handlebars' id='item-template' data-type='partial'>
  <li class='list-item' data-id='{{id}}'>
    {{#if done}}
      <img src='/images/checked_circle.png'>
    {{else}}
      <img src='/images/circle.png'>
    {{/if}}
    <p>{{name}} - <span class='quantity'>{{quantity}}</span> {{units}}</p>
    <img class='to-deleted' src='/images/red_x.png'>
    <div class='quantity-adjusters'>
      <img class='quantity-adjuster' src='/images/up_arrow.png'>
      <img class='quantity-adjuster' src='/images/down_arrow.png'>
    </div>
  </li>
</script>

<script type='text/x-handlebars' id='deleted-template'>
  {{#each items}}
    {{> deleted-item-template }}
  {{/each}}
</script>

<script type='text/x-handlebars' id='deleted-item-template' data-type='partial'>
  <li class='list-item'>
    <p>{{name}} - {{quantity}} {{units}}</p>
    <img class='to-shopping-list' src='/images/shopping_list.png'>
  </li>
</script>

<a id='reset-list'>New Shopping List</a>
<div id='shopping-list-pane'>
  <a id='my-shopping-list-tab' class='active'>
    My Shopping List
    <img src='/images/shopping_list.png'>
  </a>
  <a id='deleted-tab'>
    Deleted Items
    <img src='/images/red_x.png'>
  </a>
  <ul>
    <li id='add-item-button'>
      <a>
        <img src='/images/plus.png'>
        <p>Add Item</p>
      </a>
    </li>

    <%# <li>
      <img src='/images/circle.png'>
      <p>Bananas - 5 ct.</p>
      <img class='to-deleted' src='/images/deleted.png'>
      <img class='pencil' src='/images/pencil.png'>
    </li>
    <li>
      <img src='/images/checked_circle.png'>
      <p>Almonds - 10 oz.</p>
      <img class='to-deleted' src='/images/deleted.png'>
      <img class='pencil' src='/images/pencil.png'>
    </li> %>
  </ul>
</div>