<link rel="stylesheet" href="/stylesheets/my_shopping_list.css">
<script type='text/javascript' src='/javascripts/my_shopping_list.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>

<script type='text/x-handlebars' id='list-template'>
  {{#each items}}
    {{> item-template }}
  {{/each}}
</script>

<script type='text/x-handlebars' id='item-template' data-type='partial'>
  <li class='list-item' data-id='{{id}}'>
    {{#if done}}
      <img class='done-button' src='/images/checked_circle.png'>
    {{else}}
      <img class='done-button' src='/images/circle.png'>
    {{/if}}
    <p>{{name}} - <span class='quantity'>{{quantity}}</span> {{units}}</p>
    <img class='to-deleted' src='/images/red_x.png'>
    <div class='quantity-adjusters'>
      <img class='quantity-adjuster' src='/images/up_arrow.png'>
      <img class='quantity-adjuster' src='/images/down_arrow.png'>
    </div>
  </li>
</script>

<script type='text/x-handlebars' id='deleted-template'>
  {{#each items}}
    {{> deleted-item-template }}
  {{/each}}
</script>

<script type='text/x-handlebars' id='deleted-item-template' data-type='partial'>
  <li class='list-item' data-id='{{id}}'>
    <p>{{name}} - {{quantity}} {{units}}</p>
    <img class='to-shopping-list' src='/images/shopping_list.png'>
  </li>
</script>

<script type='text/x-handlebars' id='suggestions-template'>
  <ul class='suggestions-list'>
    {{#each suggestions}}
      <li data-name='{{name}}' data-units='{{units}}' class='suggestion'>{{name}} <span class='unit-span'>{{units}}</span></li>
    {{/each}}
  </ul>
</script>

<a id='reset-list'>New Shopping List</a>
<div id='shopping-list-pane'>
  <a id='my-shopping-list-tab' class='active'>
    My Shopping List
    <img src='/images/shopping_list.png'>
  </a>
  <a id='deleted-tab'>
    Deleted Items
    <img src='/images/red_x.png'>
  </a>
  <ul>
    <li id='add-item'>
      <a id='add-item-button' class=''>
        <img src='/images/plus.png'>
        <p>Add Item</p>
      </a>
      <form id='add-item-form' class='hidden'>
        <div id='add-item-fields'>
          <input type='text' name='name' placeholder='item name' autocomplete='off' maxlength='49' required>
          <input type='number' name='quantity' minvalue='.01' step='.01' placeholder='1' required>
          <select name='units' value='units' required>
            <% UNITS.each do |unit| %>
              <option value='<%= unit %>'><%= unit %></option>
            <% end %>
          </select>
          <div class='suggestions-box'>
          </div>
        </div>
        <div id='add-item-controls'>
          <input type='submit' value='Add'>
          <input type='reset' value='Cancel'>
        </div>
      </form>
    </li>
  </ul>
</div>

<div id='form-overlay' class='hidden'></div>
<div id='confirm-archive' class='hidden'>
  <p>Would you like to archive this shopping list and start a new one?</p>
  <div id='archive-controls'>
    <a id='final-archive'>Archive</a>
    <form method='post' action='/my-shopping-list/new'></form>
    <a id='go-back'>Go Back</a>
  </div>
</div>