<link rel="stylesheet" href="/stylesheets/recipes.css">
<script type='text/javascript' src='javascripts/recipes.js'></script>

<a id='new-recipe'>New Recipe</a>
<ul id='recipes-list'>
  <li>Smith Rock Granola - 15/9/22</li>
  <li>Banana Pancakes - 2/3/20</li>
</ul>