<link rel="stylesheet" href="/stylesheets/recipe_details.css">
<script type='text/javascript' src='javascripts/recipe_details.js'></script>

<div id='recipe-details-pane'>
  <h1>Smith Rock Granola</h1>
  <small>Created on 15/9/22</small>
  <ul>
    <li>Almonds - 10 oz.</li>
    <li>Oats - 2 cups</li>
    <li>Walnuts - 5 oz.</li>
  </ul>
  <p>A yummy treat! - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nec nam aliquam sem et tortor consequat id. Posuere sollicitudin aliquam ultrices sagittis orci a. Arcu bibendum at varius vel pharetra vel turpis nunc eget. Turpis egestas sed tempus urna et pharetra pharetra. Enim blandit volutpat maecenas volutpat blandit. Neque sodales ut etiam sit amet nisl purus in. Phasellus vestibulum lorem sed risus ultricies tristique nulla. Amet cursus sit amet dictum sit amet justo donec. Morbi tincidunt augue interdum velit euismod in pellentesque massa.

Arcu odio ut sem nulla pharetra diam sit amet. Sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur. At elementum eu facilisis sed. Rhoncus urna neque viverra justo nec. Dignissim enim sit amet venenatis urna cursus eget nunc scelerisque. Curabitur vitae nunc sed velit dignissim sodales ut. Egestas quis ipsum suspendisse ultrices gravida dictum fusce ut. Nunc sed blandit libero volutpat. Sed elementum tempus egestas sed sed risus pretium quam vulputate. Urna id volutpat lacus laoreet non curabitur gravida.
  </p>
  <div id='recipe-controls'>
    <a id='edit-button'>Edit</a>
    <a id='delete-button'>Delete</a>
  </div>
</div>