:root {
  --primary: #22A39F;
  --secondary: #222222;
  --tertiary: #F3EFE0;
  --overlay: #434242;
  --destructive: #D3513E;
  --confirm: #5FC468;
}

html {
  background-color: var(--tertiary);
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: .9em;
  color: #222222;
}

body {
  margin: 0px;
  width: 100%;
}

header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  font-size: 1.7em;
  background-color: var(--primary);
}

header div.flash {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  color: var(--tertiary);
  background-color: var(--overlay);
  height: fit-content;
}

div.flash span {
  box-sizing: content-box;
  padding: 2px;
}

header div#header-title {
  grid-row: 1 / 2;
  width: fit-content;
  margin: 2em auto 2em auto;
}

header div#header-title img {
  width: 50px;
}

header div#header-title h1 {
  display: inline-block;
  margin: 0px;
  vertical-align: top;
  color: var(--secondary);
  font-weight: 700;
}

header div#header-buttons {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

a {
  width: 10em;
  box-sizing: border-box;
  padding: 0.5em 3.2em;
  border-radius: 10px;
  margin: 0px 5px 10px 5px;
  height: fit-content;
  background-color: var(--secondary);
  color: var(--tertiary);
}

p {
  box-sizing: border-box;
  margin: 37px 10%;
  padding: 19px 30px;
  border-radius: 10px;
}

main div.demo-account {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  padding-bottom: 15px;
  border-bottom: solid var(--overlay);
}

main p.demo-account {
  width: 350px;
  margin: 0% auto;
}

main a.demo-account {
  width: fit-content;
  box-sizing: border-box;
  padding: 0.5em 3.2em;
  border-radius: 10px;
  height: fit-content;
  background-color: var(--secondary);
  margin: 0px auto;
  display: block;
  color: var(--tertiary);
  text-decoration: none;
}

div#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: var(--overlay);
  opacity: .7;
  z-index: 1;
}

form {
  top: 50%;
  left: 50%;
  width: 300px;
  height: 400px;
  margin-left: -150px;
  margin-top: -200px;
  position: fixed;
  box-sizing: border-box;
  background-color: var(--tertiary);
  padding: 20px;
  opacity: 1;
  z-index: 2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

form#signin {
  height: 260px;
}

p.error-flash {
  box-sizing: content-box;
  padding: 5px;
  border-radius: 8px;
  background-color: var(--overlay);
  color: var(--tertiary);
}

label {
  margin-top: 10px;
  width: 85%;
}

input[type='password'], input[type='text'] {
  border-radius: 7px;
  height: 25px;
  border: solid;
  background-color: inherit;
}

form div.controls {
  margin-top: 20px;
  height: 50px;
}

form div.controls input {
  box-sizing: border-box;
  width: 45%;
  height: 30px;
  background-color: var(--primary);
  border: none;
  border-radius: 10px;
}

form div.controls input ~ input {
  background-color: var(--tertiary);
  border: solid;
}

input[type='submit'] {
  margin-right: 10px;
}

form p {
  font-size: .75em;
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
}

.hidden {
  display: none;
}

@media (min-width: 480px) {

  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    font-size: 1.5em;
    background-color: var(--primary);
  }

  div.flash span {
    margin-top: unset;
  }
  
  header div#header-title {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    width: fit-content;
    margin: 4em auto 3em auto;
  }

  header div#header-title img {
    width: 65px;
  }

  header div#header-title h1 {
    font-size: 2.3em;
    padding-top: 8px;
  }
  
  header div#header-buttons {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  div #header-buttons a {
    width: fit-content;
    box-sizing: border-box;
    padding: 0.5em 70px;
    border-radius: 10px;
    margin: 0px 5px;
    height: fit-content;
  }

  div #header-buttons a ~ a {
    padding: 0.5em 78px;
  }
}

