a#reset-list {
  position: absolute;
  top: 20px;
  left: 17px;
  width: fit-content;
  background-color: white;
  box-sizing: content-box;
  padding: 10px 20px;
  border-radius: 8px;
  border: solid;
}

div#shopping-list-pane {
  margin-top: 120px;
  background-color: white;
  height: 100%;
}

a#my-shopping-list-tab {
  position: relative;
  bottom: 25px;
  left: 17px;
  background-color: inherit;
  padding: 15px 30px 15px 15px;
  border-radius: 8px;
  opacity: .6;
}

a#deleted-tab {
  position: relative;
  bottom: 25px;
  left: 30px;
  background-color: inherit;
  padding: 15px 50px 15px 25px;
  border-radius: 8px;
  opacity: .6;
}

a#my-shopping-list-tab.active, a#deleted-tab.active {
  opacity: 1;
}

div#shopping-list-pane > a img {
  width: 20px;
  position: absolute;
  margin-left: 8px;
  bottom: 15px;
}

div#shopping-list-pane a#my-shopping-list-tab img {
  margin-left: 0px;
}

main ul {
  list-style-type: none;
  padding: 0;
}

main ul li {
  height: 37px;
  border: solid;
  padding: 10px;
  width: 90%;
  margin: 10px auto;
  border-radius: 1px;
}

li#add-item {
  height: fit-content;
}

li#add-item.hidden {
  display: none;
}

a#add-item-button {
  height: 37px;
}

a#add-item-button.hidden {
  display: none;
}

div#add-item-fields {
  width: 320px;
  margin: 0px auto;
}

form#add-item-form.hidden {
  display: none;
}

form#add-item-form input {
  border-radius: 7px;
  height: 25px;
  width: 60%;
  border: solid;
  margin: 5px 0px;
}

form#add-item-form input[type='number'] {
  width: 40px;
}

form#add-item-form select {
  width: 60px;
  height: 30px;
  border-radius: 7px;
  border: solid;
}

form#add-item-form img {
  top: 7.5px;
  width: 25px;
}

div#add-item-controls {
  width: fit-content;
  margin: 0px auto;
}

div#add-item-controls input {
  width: 80px;
  border: none;
  color: white;
  background-color: #0190ff;
  margin: 7px 0px 0px 0px;
}

div#add-item-controls input ~ input {
  background-color: #ff4545;
  margin-left: 10px;
}

main li a {
  display: block;
  width: fit-content;
  margin: 0 auto;
}

main li a img {
  width: 25px;
}

main li a p {
  vertical-align: middle;
  margin-top: 20px;
}

main li p {
  display: inline-block;
  position: relative;
  bottom: 11px;
  left: 6px;
}

img.to-deleted {
  float: right;
  margin-left: 10px;
  width: 20px;
  position: relative;
  top: 50%;
  margin-top: -10px;
}

img.to-shopping-list {
  float: right;
  margin-left: 10px;
}

div.quantity-adjusters {
  display: flex;
  flex-direction: column;
  position: relative;
  float: right;
  height: 57px;
  top: -10px;
}

img.quantity-adjuster {
  height: 50%;
  width: auto;
  box-sizing: border-box;
  border-right: solid #e2e2e2;
  border-left: solid #e2e2e2;
}

img.quantity-adjuster ~ img {
  border-top: solid #e2e2e2;
}

main img {
  width: 35px;
}

div#form-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #3d3d3d;
  opacity: .7;
  z-index: 3;
}

div#form-overlay.hidden {
  display: none;
}

div#confirm-archive {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 200px;
  width: 350px;
  margin-top: -100px;
  margin-left: -175px;
  z-index: 4;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 7px;
}

div#confirm-archive.hidden {
  display: none;
}

div#archive-controls {
  display: block;
  width: fit-content;
  margin: 75px auto 0px auto;
}

div#archive-controls a {
  margin: 5px 20px;
  height: 32px;
  color: white;
  background-color: #0190ff;
  width: 70px;
  display: inline-block;
  border: solid;
  border-radius: 7px;
  box-sizing: border-box;
  padding: 5px 5px 5px 8px;
  text-decoration: none;
}

div#archive-controls a ~ a {
  color: black;
  background-color: inherit;
  padding: 5px;
}

div#archive-controls form {
  display: none;
}

/* suggestions box */

form#add-item-form div.suggestions-box {
  position: relative;
}

form#add-item-form div.suggestions-box ul {
  position: absolute;
  margin: 0px;
  z-index: 4;
  background-color: #dfdfdf;
  width: 86%;
  margin-top: -6px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

form#add-item-form div.suggestions-box ul li {
  padding: 3px 0px 3px 3px;
  margin: 0px;
  border: none;
  border-bottom: none;
  border-top: none;
}

form#add-item-form div.suggestions-box ul li span.unit-span {
  position: absolute;
  left: 81%;
}

ul.suggestions-list li.highlighted,
ul.suggestions-list li:hover {
  background-color: #b8b2b2;
}

@media (min-width: 480px) {
  a#reset-list {
    right: 40px;
    left: unset;
  }
}