a#new-recipe {
  position: absolute;
  top: 20px;
  left: 17px;
  width: fit-content;
  background-color: var(--tertiary);
  box-sizing: content-box;
  padding: 10px 20px;
  border-radius: 8px;
  border: solid;
}

ul#recipes-list {
  margin-top: 100px;
  list-style-type: none;
  padding: 0;
}

ul#recipes-list li {
  height: fit-content;
  border: solid;
  padding: 15px;
  width: 90%;
  margin: 10px auto;
  border-radius: 8px;
  font-size: 1.2em;
  background-color: var(--tertiary);
}

ul#recipes-list li.selected {
  background-color: #cbe3fd;
}

ul#recipes-list li a {
  display: none;
}

main img {
  width: 35px;
  float: right;
  bottom: 6.5px;
  position: relative;
}

form#new-recipe-form {
  position: absolute;
  background-color: var(--tertiary);
  z-index: 4;
  top: 100px;
  height: fit-content;
  padding: 40px 20px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 7px;
}

form#new-recipe-form.hidden {
  display: none;
}

form#new-recipe-form label {
  display: block;
}

form#new-recipe-form input {
  border-radius: 7px;
  height: 25px;
  border: solid;
  margin: 5px 0px;
  background-color: inherit;
}

form#new-recipe-form input#name {
  width: 100%;
  margin: 5px 0px 20px 0px;
}

form#new-recipe-form a {
  border-radius: 7px;
  height: 25px;
  border: solid;
  display: block;
  width: fit-content;
  padding: 5px 10px 0px 10px;
}

form#new-recipe-form ul {
  list-style-type: none;
  padding: 0;
}

form#new-recipe-form ul li {
  border-bottom: solid;
  border-top: solid;
  border-color: #d3d3d3;
  padding: 5px 0px;
}

form#new-recipe-form ul div {
  width: fit-content;
  display: inline-block;
}

form#new-recipe-form ul li ~ li {
  border-top: none;
}

form#new-recipe-form ul li input {
  border-radius: 7px;
  height: 25px;
  width: 170px;
  border: solid;
  margin: 5px 0px;
}

form#new-recipe-form ul li input[type='number'] {
  width: 40px;
}

form#new-recipe-form ul li select {
  width: 60px;
  height: 30px;
  border-radius: 7px;
  border: solid;
  background-color: inherit;
}

form#new-recipe-form ul li img {
  top: 7.5px;
  width: 25px;
}

form#new-recipe-form textarea {
  display: block;
  width: 100%;
  height: 100px;
  border: solid;
  border-color: black;
  border-radius: 7px;
  background-color: inherit;
}

form#new-recipe-form div#form-controls {
  display: block;
  width: fit-content;
  margin: 30px auto 0px auto;
}

div#form-controls input {
  width: 90px;
  margin: 5px 20px;
  height: 32px;
  background-color: var(--primary);
  color: var(--secondary);
  border: none;
}

div#form-controls input ~ input {
  background-color: inherit;
  border: solid var(--secondary);
}

div#form-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #3d3d3d;
  opacity: .7;
  z-index: 3;
}

div#form-overlay.hidden {
  display: none;
}

ul#ingredients-list li div.suggestions-box {
  position: relative;
  display: block;
  width: 282px;
  margin: 0px 5px;
}

ul#ingredients-list li div.suggestions-box ul {
  position: absolute;
  margin: 0px;
  z-index: 4;
  background-color: #dfdfdf;
  width: 100%;
  margin-top: -5px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

ul#ingredients-list li div.suggestions-box ul li {
  padding: 3px 0px 3px 3px;
  margin: 0px;
  border: none;
  border-bottom: none;
  border-top: none;
}

ul#ingredients-list li div.suggestions-box ul li span.unit-span {
  position: absolute;
  left: 81%;
}

ul.suggestions-list li.highlighted,
ul.suggestions-list li:hover {
  background-color: #b8b2b2;
}

@media (min-width: 480px) {
  a#new-recipe {
    right: 40px;
    left: unset;
  }

  form#new-recipe-form {
    left: 50%;
    width: 480px;
    margin-left: -240px;
  }

  form#new-recipe-form ul li input {
    width: 250px;
  }

  form#new-recipe-form ul li input[type='number'] {
    width: 50px;
  }

  ul#ingredients-list li div.suggestions-box {
    width: 372px;
  }
}