div#recipe-details-pane {
  background-color: white;
  margin: 80px 0px 0px 0px;
  box-sizing: border-box;
  padding: 15px;
}

main h1 {
  margin-bottom: 8px;
}

main ul {
  margin: 50px 0px;
}

main li {
  margin-top: 10px;
}

div#recipe-controls {
  width: fit-content;
  margin: 50px auto 20px auto;
}

div#recipe-controls a {
  border-radius: 5px;
  color: white;
}

#edit-button {
  background-color: #0190ff;
  padding: 5px 30px;
  margin-right: 5px;
}

#delete-button {
  background-color: #ff4545;
  padding: 5px 23px;
  margin-left: 5px;
}

main img {
  width: 35px;
  float: right;
  bottom: 6.5px;
  position: relative;
}

form#edit-recipe-form {
  position: absolute;
  background-color: white;
  z-index: 4;
  top: 100px;
  height: fit-content;
  padding: 40px 20px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 7px;
}

form#edit-recipe-form.hidden {
  display: none;
}

form#edit-recipe-form label {
  display: block;
}

form#edit-recipe-form input {
  border-radius: 7px;
  height: 25px;
  border: solid;
  margin: 5px 0px;
}

form#edit-recipe-form input#name {
  width: 100%;
  margin: 5px 0px 20px 0px;
}

form#edit-recipe-form a {
  border-radius: 7px;
  height: 25px;
  border: solid;
  display: block;
  width: fit-content;
  padding: 5px 10px 0px 10px;
}

form#edit-recipe-form ul {
  list-style-type: none;
  padding: 0;
}

form#edit-recipe-form ul div {
  width: fit-content;
  display: inline-block;
}

form#edit-recipe-form ul li {
  border-bottom: solid;
  border-top: solid;
  border-color: #d3d3d3;
  padding: 5px 0px;
}

form#edit-recipe-form ul li ~ li {
  border-top: none;
}

form#edit-recipe-form ul li input {
  border-radius: 7px;
  height: 25px;
  width: 170px;
  border: solid;
  margin: 5px 0px;
}

form#edit-recipe-form ul li input[type='number'] {
  width: 40px;
}

form#edit-recipe-form ul li select {
  width: 60px;
  height: 30px;
  border-radius: 7px;
  border: solid;
}

form#edit-recipe-form ul li img {
  top: 7.5px;
  width: 25px;
}

form#edit-recipe-form textarea {
  display: block;
  width: 100%;
  height: 100px;
  border: solid;
  border-color: black;
  border-radius: 7px;
}

form#edit-recipe-form div#form-controls {
  display: block;
  width: fit-content;
  margin: 30px auto 0px auto;
}

div#form-controls input {
  width: 90px;
  margin: 5px 20px;
  height: 32px;
  background-color: #0190ff;
  color: white;
}

div#form-controls input ~ input {
  background-color: #ff4545;
}

div#form-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #3d3d3d;
  opacity: .7;
  z-index: 3;
}

div#form-overlay.hidden {
  display: none;
}

div#confirm-delete {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 200px;
  width: 350px;
  margin-top: -100px;
  margin-left: -175px;
  z-index: 4;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 7px;
}

div#confirm-delete.hidden {
  display: none;
}

div#delete-controls {
  display: block;
  width: fit-content;
  margin: 75px auto 0px auto;
}

div#delete-controls a {
  margin: 5px 20px;
  height: 32px;
  color: white;
  background-color: #ff4545;
  width: 70px;
  display: inline-block;
  border: solid;
  border-radius: 7px;
  box-sizing: border-box;
  padding: 5px 5px 5px 12px;
  text-decoration: none;
}

div#delete-controls a ~ a {
  color: black;
  background-color: inherit;
  padding: 5px;
}

div#delete-controls a#redirect-link {
  display: none;
}

/* suggestion box  */

ul#ingredients-list li div.suggestions-box {
  position: relative;
  display: block;
  width: 282px;
  margin: 0px 5px;
}

ul#ingredients-list li div.suggestions-box ul {
  position: absolute;
  margin: 0px;
  z-index: 4;
  background-color: #dfdfdf;
  width: 100%;
  margin-top: -5px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

ul#ingredients-list li div.suggestions-box ul li {
  padding: 3px 0px 3px 3px;
  margin: 0px;
  border: none;
  border-bottom: none;
  border-top: none;
}

ul#ingredients-list li div.suggestions-box ul li span.unit-span {
  position: absolute;
  left: 81%;
}

ul.suggestions-list li.highlighted,
ul.suggestions-list li:hover {
  background-color: #b8b2b2;
}

@media (min-width: 480px) {
  div#recipe-details-pane {
    background-color: white;
    margin: 0px;
    box-sizing: border-box;
    padding: 15px;
  }

  form#edit-recipe-form {
    left: 50%;
    width: 480px;
    margin-left: -240px;
  }

  form#edit-recipe-form ul li input {
    width: 250px;
  }

  form#edit-recipe-form ul li input[type='number'] {
    width: 50px;
  }

  ul#ingredients-list li div.suggestions-box {
    width: 372px;
  }
}