a#new-recipe {
  position: absolute;
  top: 20px;
  left: 17px;
  width: fit-content;
  background-color: white;
  box-sizing: content-box;
  padding: 10px 20px;
  border-radius: 8px;
  border: solid;
}

ul#recipes-list {
  margin-top: 100px;
  list-style-type: none;
  padding: 0;
}

ul#recipes-list li {
  height: fit-content;
  border: solid;
  padding: 15px;
  width: 90%;
  margin: 10px auto;
  border-radius: 8px;
  font-size: 1.2em;
  background-color: white;
}

@media (min-width: 480px) {
  a#new-recipe {
    right: 40px;
    left: unset;
  }
}